body{
    background-color: #c7d6ec;
}
canvas {
    width:100%; 
}
#container{
    width:1000px;
    margin:0 auto;
    background-color:white;
}
#menu{
    border: 1px solid black;
    width:100%;
    margin:0 auto;
    background-color:#f0f0f0e7;
    height:140px;
}
.current_color{
    border: 0px;
    height:30px;
    width: 30px;
    cursor: default;
    border-radius: 5px;
}
.color_sel {
    border: 2px ridge rgb(221, 224, 250);
    height:25px;
    width:25px;
    cursor:pointer;
    border-radius: 4px;
 } 
 .color_sel:hover {
    border: 2px ridge #a9c8f7;
 }
 .shape_sel {
    border: 2px ridge rgb(221, 224, 250);
    height:40px;
    width:40px;
    cursor:pointer;
    border-radius: 7px;
 }
 .shape_sel:hover {
    border: 2px ridge #a9c8f7;
 }